footer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background-color: rgb(17, 16, 16);
    box-sizing: border-box;
    color: aliceblue;
    width: 100%;
    padding: 40px 60px 20px;
    margin: 0 auto;
    bottom:0;
    left:0;
}

.nav-links {
    display: flex;
    justify-content: space-between;   
}

.links {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.25rem;
    margin:0 0 10px ;
}

.links:hover{
    text-decoration: underline;
    
}

.div-logos {
    display:flex;
    justify-content: center;
    margin:10px;
}

.logos {
    font-size: 3rem;
}
aside {
    margin: 20px 0 10px;
}

p{
    text-align: center;
}
@media (max-width: 768px) {
    footer {
        padding:10px;
    }
    .links{
        font-size: 1rem;
    }

    .logos{
        font-size: 1.5rem;
    }
  }

  @media(max-width:570px){
    .nav-links {
        display: flex;
        flex-direction: column;
    }
    .links {
        text-align: center;
        margin:5px;
    }


  }